@import url('https://designsystem.suomi.fi/fonts/source-sans-pro.css');

* {
    box-sizing: border-box;
}

:root {
    font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    background: #f2f2f2;

    font-family:
        "Segoe UI",
        -apple-system,
        BlinkMacSystemFont,
        "Roboto",
        "Oxygen",
        "Ubuntu",
        "Cantarell",
        "Fira Sans",
        "Droid Sans",
        "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}




.highlight1 {
    background-color: #FFB3BA;
}

.highlight2 {
    background-color: #FFDFBA;
}

.highlight3 {
    background-color: #CCFFCC;
}

.highlight4 {
    background-color: #BAFFC9;
}

.highlight5 {
    background-color: #FFCCCC;
}

.highlight6 {
    background-color: #DADDF0;
}

.highlight7 {
    background-color: #FFC2E0;
}

.highlight8 {
    background-color: #C2E0FF;
}

.highlight9 {
    background-color: #E0FFC2;
}

.highlight10 {
    background-color: #F0D9FF;
}

.highlight11 {
    background-color: #FFB3E6;
}

.highlight12 {
    background-color: #B3E6FF;
}

.highlight13 {
    background-color: #E6FFB3;
}

.highlight14 {
    background-color: #FFE6B3;
}

.highlight15 {
    background-color: #BAE1FF;
}

.highlight16 {
    background-color: #CCFFCC;
}

.highlight17 {
    background-color: #FFFFBA;
}
